body{
    background-color: darkgray;
    
}
*{
    box-sizing: border-box;
}
.btn-1{
    background-color: brown;
    width: 150px;
    height: 150px;
    padding: 20px;
    margin: 20px;
    border: 20px solid black;
}